<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwSM0AQE6arJ0xNXyyREJ1_BAUHdM3kMw</string>
	<key>GCM_SENDER_ID</key>
	<string>726374824856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLearn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>steadfast-list-406306</string>
	<key>STORAGE_BUCKET</key>
	<string>steadfast-list-406306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726374824856:ios:9d4830635b500f4e99c9ed</string>
</dict>
</plist>